<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
<div class="header">
    <div class="navigation">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/list">list</a></li>
            <li><a href="/new">new</a></li>
        </ul>
    </div>
</div>
<div class="wrapper">

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
