<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Knotted Link App</title>
</head>
<body>
<div class="header">
    {% if session.username is defined %}
        <span>Hello, {{ session.username }}</span>
    {% endif %}
    <div class="navigation">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/list">list</a></li>
            <li><a href="/new">new</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</div>
<div class="wrapper">

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
