{% extends "layout.twig" %}

{% block content %}
    <h1>List</h1>
    <ul>
        {% for item in list %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                <div class="description">{{ item.description }}</div>
                {% if session.id is defined %}
                    <div class="action-delete">
                        <a href="/deleteSubmit/{{ item.id }}">X</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}