{% extends "layout.twig" %}

{% block content %}
    <h1>List</h1>
    <ul>
        {% for item in list %}
            <li>
                <a href="{{ item.link }}">{{ item.title }}</a>
                <div class="description">{{ item.description }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}