{% extends "layout.twig" %}

{% block content %}
    <h1>New</h1>
    <form method='post' action='/submit'>
        <label>
            <input type='text' name='url' />
        </label>
        <input type='submit' />
    </form>
{% endblock %}