{% extends "layout.twig" %}

{% block content %}
    <h1>New</h1>
    <form method='post' action='/submit'>
        <label>URL
            <input type='text' class="text" name='url' />
        </label>
        <label>Title
            <input type='text' class="text" name='title' />
        </label>
        <label>Description
            <textarea cols="20" rows="3" name="description"></textarea>
        </label>
        <input type='submit' />
    </form>
{% endblock %}