$cl-light: #ececec;
$cl-medium: #9fd3c7;
$cl-dark: #385170;
$cl-darkest: #142d4c;

body {
  background-color: #ffffff;
}

h1, h2 {
  margin-top: 10px;
  color: $cl-darkest;
}

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 12pt;
  padding: 3px 0 3px 5px;
  background-color: $cl-light;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 40px 600px 20px;
  grid-gap: 5px;
}

.header {
  grid-column: 1 / 4;
  background: $cl-light;

  ul {
    padding: 5px 0 5px 0;
    text-align: center;
    grid-column: 2 / 3;

    li {
      display: inline-block;
      width: 150px;
      text-align: center;
      overflow: hidden;

      a {
        border-radius: 10px;
        font-size: 12pt;
        color: $cl-light;
        background-color: $cl-dark;
        text-align: center;
        display: block;
        padding: 4px;
        text-decoration: none;

        &:hover {
          background-color: $cl-darkest;
          color: $cl-light;
        }
      }
    }
  }
}

.content {
  grid-column: 2 / 3;
  min-height: 550px;
  padding: 10px;

  &.full {
    grid-column: 1 / 4;
    padding: 0 10px 0 10px;
  }
}

.footer {
  grid-column: 2 / 3;
}

.button {
  font-size: 12px;
  color: $cl-light;
  background-color: $cl-dark;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;

  &:hover {
    background-color: $cl-darkest;
  }
}

form {
  padding: 5px;
  margin: 0 auto;
  width: 200px;

  &.wide {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    display: block;


    &.text {
      background-color: $cl-light;
    }

    &.submit {
      background-color: $cl-dark;
      font-weight: bold;
      color: $cl-light;

      &:hover {
        background-color: $cl-darkest;
      }
    }
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 3px;
  background-color: $cl-light;
  padding: 10px;

  div {
    text-align: center;
  }
}
